@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* CenteredContent.scss */
.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18vh;
    text-align: center;
  }
  
  .centered-content .main-headi {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    font-family: "Poppins", serif;
  }
  
  .centered-content .sideheading {
    font-size: 1rem;
    max-width: 600px;
    font-family: "Poppins", serif;
  }
  

  @media (max-width: 800px){
    .centered-content{
      height: 18vh;
    }
    .centered-content .main-headi {
      font-size: 1.8rem;
    }
  }

  @media (max-width: 600px){
    .centered-content{
      height: 20vh;
    }
    .centered-content .main-headi {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 400px){
    .centered-content{
      height: 15vh;
    }
    .centered-content .main-headi {
      font-size: 1.3rem;
    }
    .centered-content .sideheading {
      font-size: 0.8rem;
    }
  }